/* ui/lib-ui-range.css */
div.input > div.range {
    display: inline-block;
    vertical-align: middle;
}

div.input > div.range > input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    border-radius: 1em;
}

div.input > div.range > input[type="range"]:focus {
    outline: none;
}

div.input > div.range > input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1.2em;
	cursor: pointer;
	box-shadow: 0px 0px 3px #000000, 0px 0px 0px #0D0D0D;
	background: rgba(200, 200, 200, 0.78);
	border-radius: 1em;
}

div.input > div.range > input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 3px #000031, 0px 0px 0px #00004B;
	height: 2em;
	width: 2em;
	border-radius: 2em;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -0.4em;
}

div.input > div.range > input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(223, 223, 223, 0.78);
}

div.input > div.range > input[type=range]::-moz-range-track {
	width: 100%;
	height: 1em;
	cursor: pointer;
	box-shadow: 0px 0px 3px #000000, 0px 0px 0px #0D0D0D;
	background: rgba(200, 200, 200, 0.78);
	border-radius: 1em;
}

div.input > div.range > input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 3px #000031, 0px 0px 0px #00004B;
	height: 2em;
	width: 2em;
	border-radius: 2em;
	background: #FFFFFF;
	cursor: pointer;
}

div.input > div.range > input[type=range]::-ms-track {
	width: 100%;
	height: 1em;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

div.input > div.range > input[type=range]::-ms-fill-lower {
	background: rgba(177, 177, 177, 0.78);
	border-radius: 1em;
	box-shadow: 0px 0px 3px #000000, 0px 0px 0px #0D0D0D;
}

div.input > div.range > input[type=range]::-ms-fill-upper {
	background: rgba(200, 200, 200, 0.78);
	border-radius: 1em;
	box-shadow: 0px 0px 3px #000000, 0px 0px 0px #0D0D0D;
}

div.input > div.range > input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 3px #000031, 0px 0px 0px #00004B;
	height: 2em;
	width: 2em;
	border-radius: 2em;
	background: #FFFFFF;
	cursor: pointer;
}

div.input > div.range > input[type=range]:focus::-ms-fill-lower {
	background: rgba(200, 200, 200, 0.78);
}

div.input > div.range > input[type=range]:focus::-ms-fill-upper {
	background: rgba(223, 223, 223, 0.78);
}
